
/* universal selector */
*{
    font-family: 'Courier New';
}

/* element selector */
h1{
    color:#1b74e4;
}

/* id-selector */
#searchbtn{
    background-color: black;
    color:white;
}

/* class-selector */
.userbtn{
    background-color: aqua;
}