/* universal-selector css is (*) */
*{
    font-family: 'Courier New';
}

/* Elemet selector */
h1,h3{
    color:#b92b27;

}

/* ID selector  just 1*/
#login{
    background-color: white;
}
#signup{
    color:white;
    background-color: #b92b27;
}

/* class selector multiple select */
.upvote{
    background-color: green;
    color: white;
}

/* practice .................ID*/
#myid p{
    color:green;
}
/*  OR

div[id="myid"] p{
     color:green;

} */



/* descendant selector parent>child.................class */
/* 
p a{
    color:blueviolet;
    background-color: yellow;;
} */
.post a{
     color:blueviolet;
    background-color: yellow;;
}


/* 4 Level work */
nav ul li a {
    color:palevioletred;
}


/* sibling p+h3 same level <p></p>...<h3></h3> */
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: cornflowerblue;
    color:black
}





/* child level xxxx not good because direct relation.........descandant good because nav,ul,li,a(nav a) */
div>input{
    background-color: rgb(179, 205, 119);
   
}



/* change color on attributes type=text */
input[type="text"]
{
    color:#b92b27;
}
input[type="password"]
{
    color:green;
}
input[type]{
    background-color: white;
}

/* {id>class>element }ki importance agar id,class,h1 sab kii css */

/* 1- div p  0 0 2=2
2- class  0 1 0=10.........
3-element  0 0 1=1 */

/* same ho to bad wala */


/* pseudo class */
/* Hover */
button:hover{
    background-color: black;
    color:white;
}
h3:hover{
    text-decoration: none;
}
   

/* Active means click*/
button:active{
    background-color: pink;
    color:black;
}
p:active{
    font-weight: bold;
    color: green;
}


/* checked (sibling ku ka label bad ma ata*/
input[type="radio"]:checked+label{
    color:red;
    font-weight: bold;

}

/* nth of type */
div:nth-of-type(2)
{
    background-color: antiquewhite;
}

/* pseudo element */
h1::first-letter{
    color:black;
}
p::first-line{
    color:red;
}
p::selection{
    background-color: yellow;
}


/* new file css priority>or phir h3 - h3 neechy waly ki */
h3{
    background-color: yellow;
}
h3{
    background-color: aquamarine;
}


/* inline.....id......class,attribute,pseudo code......element,pseuodo element */








































